{% extends 'calendar/day_card.html.twig' %}

{% block title %}
    {{ 'crossings'|trans }}
{% endblock title %}

{% block subTitle %}
    {{ crossings|length }} {{ date|date('Y-m-d') == 'now'|date('Y-m-d') ? 'today'|trans : '' }}
{% endblock %}

{% block icon %}
    <twig:ux:icon name="mdi:dog-side" class="fs-3 text-dark"/>
{% endblock %}

{% block content %}
    {% for crossing in crossings %}
        <div class="d-flex flex-row justify-content-between align-items-center px-3 py-2">
            <span>{{ crossing.location|trans }} - {{ crossing.freedomLevel|trans }}  ~{{ crossing.distance|trans }}m</span>
            {% set hasReacted = crossing.reaction %}
            <span class="badge rounded-pill bg-{{ hasReacted ? 'warning' : 'success' }} py-2">
                {{ hasReacted
                ? 'reaction'|trans~' '~crossing.reaction|trans
                : 'no_reaction'|trans }}
            </span>
            <a class="btn btn-sm border-dark text-dark" href="#">
                <twig:ux:icon name="mdi:pencil" class="fs-6"/>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block button %}
    <a href="{{ path('create_crossing', {id: dog.id, date: date|date('Y-m-d')}) }}"
       class="btn btn-dark w-100 mt-2"
    >
        <twig:ux:icon name="mdi:plus"/>
        Ajouter
    </a>
{% endblock %}
