{% extends 'calendar/day_card.html.twig' %}

{% block title %}
    {{ 'last_night'|trans }}
{% endblock title %}

{% block subTitle %}
    {{ night
    ? night.start|date('H:i')~' → '~night.end|date('H:i')
    : 'fill_up_today'|trans }}
{% endblock %}

{% block icon %}
    <twig:ux:icon name="mdi:moon-waxing-crescent" class="fs-3 text-dark"/>
{% endblock %}

{% block button %}
    {% if night %}
        <p>{{ 'duration'|trans }} : {{ night.durationInHours }}h</p>
        <a href="{{ path('update_night', {id: night.id}) }}"
           class="btn btn-dark w-100 mt-auto"
        >
            <twig:ux:icon name="mdi:pencil" />
            {{ 'update'|trans }}
        </a>
    {% else %}
        <a href="{{ path('create_night', {id: dog.id, date: previous_day(date)|date_ymd}) }}"
           class="btn btn-dark w-100 mt-auto"
        >
            <twig:ux:icon name="mdi:plus" />
            {{ 'fill_up'|trans }}
        </a>
    {% endif %}
{% endblock %}
