{% set user = app.user %}
{% set route_name = app.request.attributes.get('_route')%}
<nav class="navbar navbar-expand-lg fixed-top bg-dark p-4">
    <span class="navbar-brand text-white m-0">
        <twig:ux:icon name="mdi:paw" class="fs-1"/>
        {% if not user %}
            <span class="ms-3">
                {{ 'app_name'|trans }}
            </span>
        {% endif %}
    </span>
    {% if user %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% set nav_items = [
            { label: 'my_dogs'|trans, path: path('list_dogs'), route_name: 'list_dogs' },
            { label: 'calendar'|trans, path: path('show_calendar'), route_name: 'show_calendar' },
            { label: 'statistics'|trans, path: '#', route_name: '' },
        ] %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for nav_item in nav_items %}
                    <li class="nav-item">
                        <a
                            class="nav-link text-white mx-4 {{ nav_item.route_name == route_name ? 'active' : ''}}"
                            href="{{ nav_item.path }}"
                        >
                            {{ nav_item.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a class="nav-link text-white mx-4" href="{{ path('app_logout') }}">Logout</a>
    {% endif %}
</nav>
